@import '../base/default.scss';

aside#Contact{
    @media only screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 16px;
    }

    header{
        height: 30vh;
        background:url(../../../public/img/contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media only screen and (max-width: 1260px) {
            width: 1000px;
            margin: 0 auto;
        }

        @media only screen and (max-width: 1080px) {
            width: 800px;
        }

        @media only screen and (max-width: 960px) {
            width: 700px;
        }

        @media only screen and (max-width: 880px) {
            width: 580px;
        }
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        h1{
            color: #fff;
            padding: 40px 100px;
            background: $mild-black-transparent;
            position: absolute;
            bottom: 0;

            @media only screen and (max-width: 768px) {
                padding: 40px;
                font-size: 34px;
            }

            @media only screen and (max-width: 480px) {
                font-size: 28px;
            }
            
        }
    }

    section#ContactAddress{
        .ContactDetails{
            height: 10vh;
            margin: 0 auto;
            background-color: $brave-pink;
            text-align: center;
            padding-top: 20px;

            @media only screen and (max-width: 1260px) {
                width: 1000px;
                margin: 0 auto;
            }

            @media only screen and (max-width: 1080px) {
                width: 800px;
            }

            @media only screen and (max-width: 960px) {
                width: 700px;
            }

            @media only screen and (max-width: 880px) {
                width: 580px;
            }

            @media only screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                padding: 20px 0 ;
            }
        }

        .ContactPoint{
            margin: 0 auto;
            background-color: $mild-white;
            border-left: 600px solid transparent;
            border-right: 600px solid transparent;
            border-top: 100px solid $brave-pink;

            @media only screen and (max-width: 1260px) {
                border-left: 500px solid transparent;
                border-right: 500px solid transparent;
                width: 0px;
            }

            @media only screen and (max-width: 1080px) {
                border-left: 400px solid transparent;
                border-right: 400px solid transparent;
            }

            @media only screen and (max-width: 960px) {
                border-left: 350px solid transparent;
                border-right: 350px solid transparent;
            }

            @media only screen and (max-width: 880px) {
                border-left: 290px solid transparent;
                border-right: 290px solid transparent;
            }

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

    }
    
    input{
        width: 35%;
    }

} 
  

form#ContactForm{
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;

    .MandatoryFieldNote{
        width: 100%;
    }

    label{
        width: 100px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;

        @media only screen and (max-width: 480px) {
            width: 100%;
            text-align: left;
            margin-right: 0px;
        }

        &.Left{
            text-align: left;
        }
    }

    .HalfWrapper{
        width: 50%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        input{
            width: calc(100% - 140px);

            @media only screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }

    .FullWrapper{
        width: 100%;

        textarea,
        select{
            width: 100%;
        }
    }

    .FileWrapper,
    .SubmitWrapper{
        width: 50%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        input{
            width: calc(100% - 140px);

            @media only screen and (max-width: 480px) {
                width: 100%;
            }
        }

        #contact-submit{
            max-width: 100%;
            width: 160px;
            padding: 10px;
            margin: 10px 0;
            background-color: $brave-pink-transparent;
            border: 1px $brave-pink solid;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
                background-color: $brave-pink;
            }
            @media only screen and (max-width: 800px) {
                float: none;
            }
        }

    }

    .Alert{
        margin: 20px auto;
        width: 800px; 
        
        @media only screen and (max-width: 880px) {
            width: 100%; 
        }

        #AlertList{
            background-color: lightgray;
            padding: 20px;
            color: $red;
        }

        li{
            padding-bottom: 10px;
        }
    }

}

section#Subscription{
    padding: 20px 40px;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 16px;
    }

    form{
        display: flex;
        flex-wrap: wrap;

        .Alert{
            width: 100%;
        }

        .SubemailWrapper{
            width: 50%;
            @media only screen and (max-width: 1200px) {
                width: 60%;
            }

            @media only screen and (max-width: 800px) {
                width: 100%;
            }

            label{
                width: 160px;
                display: inline-block;
                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            input{
                width: calc(100% - 200px);
                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }   
        }

        .AreaWrapper{
            width: 30%;

            @media only screen and (max-width: 1200px) {
                width: 40%;
            }

            @media only screen and (max-width: 800px) {
                width: 100%;
            }

            label{
                width: 100px;
                display: inline-block;
                @media only screen and (max-width: 800px) {
                    width: 160px;
                }
                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }
            select{
                width: calc(100% - 160px);
                max-width: 200px;
                @media only screen and (max-width: 480px) {
                    width: 100%;
                    max-width: 480px;
                }
            }
        }
    
        #AlertListSub{
            color: $red;
        }
    }

    .SubmitWrapper{
        width: 20%;
        text-align: right;
        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
        @media only screen and (max-width: 800px) {
            text-align: left;
        }
    }

    #SubscribeSubmit,
    button{
        padding: 10px;
        margin: 10px 0;
        background-color: $brave-pink-transparent;
        border: 1px $brave-pink solid;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            background-color: $brave-pink;
        }
        @media only screen and (max-width: 800px) {
            float: none;
        }
    }
}
  
  input,
  select{
    padding: 10px;
    margin: 10px 0;
  }
  
  select[name="category"]{
    width: calc(100% - 180px);
  }
  
  label{
    padding: 10px 0;
  }
  
  textarea{
    margin: 10px 0;
    width: calc(100% - 100px);
    resize: vertical;
    padding:15px;
    border-radius:15px;
    height:150px;
  }
  
  input[type="submit"]{
    float: right;
  }
