section#LearnRugby{
    .RuleCard{
        margin-top: 40px;

        article{
            display:flex;
            padding: 20px 0;

            @media only screen and (max-width: 1200px) {
                flex-direction: column-reverse;
            }

            div{
                align-self: center;
                width: 100%;
                margin-right: 20px;
            }

            figure{
                align-self: center;
                width: 80%;
                margin: 0 auto;

                @media only screen and (max-width: 1200px) {
                    margin-bottom: 20px;
                }

              }
        }

        iframe{
            width: 480px;
            height: 270px;
            @media only screen and (max-width: 800px) {
                width: 400px;
                height: 220px;
            }
            @media only screen and (max-width: 600px) {
                width: 300px;
                height: 160px;
            }

            @media only screen and (max-width: 480px) {
                width: 200px;
                height: 110px;
            }
        }
    }
} 