@import '../base/default.scss';

section.MatchCard{
    font-size: 24px;
    padding: 40px 0;
    border-bottom: 5px $brave-pink solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 auto;

    @media only screen and (max-width: 1000px) {
        font-size: 22px;
    }

    @media only screen and (max-width: 768px) {
        font-size: 20px;
        display: block;
    }

    @media only screen and (max-width: 600px) {
        font-size: 18px;
    }

    table,
    .Highlight,
    .Map{
        width: 50%;
        margin: 0 auto;

        @media only screen and (max-width: 768px) {
            width: 80%;
            max-width: 768px;
        }
    }

    .Highlight{
        max-width: 400px;
        font-size: 20px;

        @media only screen and (max-width: 768px) {
            font-size: 18px;
            margin-top: 20px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }

        iframe,
        img{
            width: 100%;
            max-width: 400px; 
            margin-top: 10px;

            @media only screen and (max-width: 1000px) {
                width: 360px;
                height: 260px;
            }

            @media only screen and (max-width: 768px) {
                width: 320px;
                height: 240px;
            }
        }
    }

    .Map{
        font-size: 16px;
        max-width: 400px;
        margin: 0 auto;

        @media only screen and (max-width: 768px) {
            margin-top: 20px;
        }

        .GmapCanvas{
            text-align: center;
        }

        iframe{
            width: 100%;
            max-width: 400px; 
            margin-top: 10px;

            @media only screen and (max-width: 1000px) {
                width: 360px;
                height: 260px;
            }

            @media only screen and (max-width: 768px) {
                width: 320px;
                height: 240px;
            }
        }

        address{
            padding-top: 10px;
            font-size: 1rem;
        }

        h4{
            font-size: 20px;
        }
    } 

    table{
        border-collapse: collapse;
        text-align: center;
        height: 60px;

        h4{
            font-size: 20px;
        }

        tr{
            height: 40px;

            &.MatchTitle{
                height: 120px;

                @media only screen and (max-width: 1000px) {
                    height: 100px;
                }

                @media only screen and (max-width: 768px) {
                    height: 60px;
                }
            }

            &.Match{
                height: 100px;
            }

            &.MatchTeams{
                width: 90%;
                height: 80px;

                img.Team{
                    width: 80px;
                    height: 80px;
                    align-self: center;

                    @media only screen and (max-width: 1000px) {
                        width: 40px;
                        height: 40px;
                    }
        
                    @media only screen and (max-width: 768px) {
                        width: 30px;
                        height: 30px;
                    }
                }

                td{
                    display: flex;
                    justify-content: center;
                    vertical-align: middle;
                    height: 80px;
                    padding: 0 10px;
    
                    .Teams{
                        padding: 0 10px;
                        align-self: center;
                    }
                      
                }
            } 
        }
    }

    .match_schedule table{
        width: 100%;
    }

    .BuyTicket{
        width: 100%;
        text-align: center;
        margin-top: 40px;
      }

    .Button{ 
        padding:10px 40px;
        width: 100%;
        background-color: $brave-pink;
        border:$mild-black 2px solid;
        border-radius: 10px;
        text-align: center;

        &:hover{
            cursor: pointer;
            background-color: $mild-white;
        }
    }
}