@import '../base/default.scss';

section#Welcome{
    margin-top: 20px;
    height: 50vh;
    background:url(../../../public/img/rugby_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        color: $mild-white;
        background: $mild-black-transparent;
        line-height: 2em;

        @media only screen and (max-width: 800px) {
            font-size: 2em;
        }

        @media only screen and (max-width: 640px) {
            line-height: 1.6em;
        }

    }

    article{
        background: $mild-white;
        padding: 20px;
        width: calc(100% - 40px);
    }
}